-extends "base.haml"

-block content
  .row
    .col-md-6
      .panel.panel-success
        .panel-heading Latest X formulas added
        %ul.list-group
          %li.list-group-item
            %span.badge 14
            pouet
          %li.list-group-item
            %span.badge 14
            pouet
          %li.list-group-item
            %span.badge 14
            pouet
          %li.list-group-item
            %span.badge 14
            pouet
    .col-md-6
      .panel.panel-info
        .panel-heading Random X formulas
        %ul.list-group
          %li.list-group-item
            %span.badge 14
            pouet
          %li.list-group-item
            %span.badge 14
            pouet
          %li.list-group-item
            %span.badge 14
            pouet
          %li.list-group-item
            %span.badge 14
            pouet
